/* Embedded web Fonts */
/* BLACKJACKREGULAR */
@font-face {
    font-family: 'black_jackregular';
    src: url('blackjack-webfont.eot');
    src: url('blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('blackjack-webfont.woff2') format('woff2'),
         url('blackjack-webfont.woff') format('woff'),
         url('blackjack-webfont.ttf') format('truetype'),
         url('blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*UBUNTU*/

@font-face {
    font-family: 'ubuntulight';
    src: url('ubuntu-l.eot');
    src: url('ubuntu-l.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-l.woff2') format('woff2'),
         url('ubuntu-l.woff') format('woff'),
         url('ubuntu-l.ttf') format('truetype'),
         url('ubuntu-l.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight_italic';
    src: url('ubuntu-li.eot');
    src: url('ubuntu-li.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-li.woff2') format('woff2'),
         url('ubuntu-li.woff') format('woff'),
         url('ubuntu-li.ttf') format('truetype'),
         url('ubuntu-li.svg#ubuntulight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('ubuntu-r.eot');
    src: url('ubuntu-r.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-r.woff2') format('woff2'),
         url('ubuntu-r.woff') format('woff'),
         url('ubuntu-r.ttf') format('truetype'),
         url('ubuntu-r.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{height:100%}
body {
    position:relative;
    background: url("../img/deeppurple.jpg") no-repeat 50% 0 fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    color:lightslategrey;
    height:100%;
}

@media (max-width: 870px){body{margin:1px 0px 1px 0px;}}



.jumbotron {
    max-width: 500px;
    padding: 10px 20px;
    background:url("../img/bg-content.png");
    margin: 10px auto;
    border-radius: 8px;
    font-family: 'ubuntulight';
    color: #fff;
}

.flirtform {
    max-width: 500px;
    padding: 10px 20px;
    background:url("../img/bg-content.png");
    margin: 10px auto;
    border-radius: 8px;
    font-family: 'ubunturegular';
}
.flirtform fieldset{
    border: none;
}
.flirtform legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.flirtform label {
    display: block;
    margin-bottom: 8px;
}
.flirtform input[type="text"],
.flirtform input[type="email"],
.flirtform input[type="city"],
.flirtform input[type="password"]{
    font-family: 'ubuntulight_italic';
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.flirtform input[type="text"]:focus,
.flirtform input[type="email"]:focus,
.flirtform input[type="city"]:focus,
.flirtform input[type="password"]:focus{
    background: #d2d9dd;
}

ul#chkbx {
  list-style: none;
  padding-left: 0px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around; 
  justify-content: space-around;
  color: #1a0013;
}

ul#chkbx li {
   color: #330025;
   display:inline-block;
   margin: 10px 0px 10px 0px;
   padding: 10px 0px 10px 0px;
}

ul#chkbx li input {
   display:block;
   margin-left:40%;
}
ul#chkbx li label{
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul#chkbx li:hover label{
	color: #FFF;
}


.flirtform .number {
    background: mediumvioletred;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 15px;
}

.flirtform input[type="submit"],
.flirtform input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #80005e;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #330025;
    border-width: 1px 1px 1px;
    border-radius: 5px;
    margin: 10px 0px 10px;
}
.flirtform input[type="submit"]:hover,
.flirtform input[type="button"]:hover
{
    background: #b30083;
}

.terms {
    color: #1a0013;
}

.copyright {
  padding: 0 0;
  background-color: #1a1a1a;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  position:fixed;
  bottom: 0px;
  width: 100%;
  height: 20px;
  border-top: 2px solid #330025;
    border-width: 1px 1px 1px;
}

.copyright p {
    margin: 1px 0px 1px 0px;
}

.copyright p a{
    font-family: 'ubuntulight';
    color: #e8eeef;
    font-size: 0.75em;
    padding-bottom: 2px;
    margin: 0px 0px 5px 0px;
}

